body {
  font-family: fantasy;
  font-size: 16px;
  line-height: 1;
  color: #666666;
}

h1 {
  font-family: fantasy
  
  
}

.display-3 {
  color:black;
}

textarea {
  background: whitesmoke;
  border: none;
  resize: none;
  padding: 10px;
  margin: 10px;
}

.jumbotron {
  text-align: center;
}

.lead {
  padding-top: 10px;
}

.description{
  margin: 10px;
  padding: 10px;
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #CEE5F2;
}

.hour {
  border-right: 1px solid #CEE5F2;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.past {
  background-color: black;
  color: yellow;
}

.present {
  background-color: greenyellow
  color: blue;
}

.future {
  background-color: crimson;
}

.saveBtn {
  background-color: rgba(99, 112, 129, 0.75);
  border: none;
  color: #ffffff; 
}

.saveBtn:hover {
  background-color: yellow
}